<app-tabs></app-tabs> 
<div class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <h1>Configuración de Preguntas</h1>
    <div><button class="btnGreen">Crear</button></div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered align-middle bg-white">
      <thead class="table-light">
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">Pregunta</th>
          <th scope="col">Descripción</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
