<app-tabs></app-tabs>
<div class="container mt-5">
  <div class="row">
    <h1 class="col-12 col-md-8">Configuración de Preguntas</h1>
    <div class="col-12 col-md-4">
      <div class="d-flex justify-content-end">
        <button
          (click)="open(newEntity)"
          ngbTooltip="Crear una nueva pregunta"
          class="btnGreen"
        >
          Crear
        </button>
      </div>
    </div>

    <div class="table-responsive mt-2">
      <table class="table-custom">
        <thead class="">
          <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Pregunta</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let q of questions
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
            "
          >
            <td>
              <div
                class="d-flex justify-content-center gap-2 align-items-center"
              >
                <button
                  class="btn btn-success btn-circle"
                  (click)="open(newEntity, q)"
                  ngbTooltip="Editar información de la pregunta"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button
                  class="btn-circle btn btn-danger d-flex align-items-center justify-content-center"
                  (click)="open(deleteEntity, q)"
                  ngbTooltip="Eliminar esta pregunta"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
            <td>{{ q.question }}</td>
            <td class="text-wraper">{{ q.description }}</td>
            <td class="text-wraper">{{ q.category.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel=""
        nextLabel=""
        [maxSize]="5"
      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #newEntity let-modal>
  <div newEntity class="modal-content modalCustom">
    <div class="modal-content">
      <div class="modal-header modalCustom">
        <span><img src="/logo-blanco.png" alt="" width="125px" /></span>

        <button
          type="button"
          (click)="modal.close('Close click')"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <h1 *ngIf="mode === 'create'">Nueva Pregunta</h1>
          <h1 *ngIf="mode === 'edit'">Editar Pregunta</h1>
          <label for="">Titulo</label>
          <div class="col-12 mb-3">
            <input
              class="form-control"
              [(ngModel)]="newQuestion.question"
              type="text"
            />
          </div>
          <label for="">Descripción</label>
          <div class="col-12">
            <textarea
              class="form-control"
              [(ngModel)]="newQuestion.description"
              type="text"
              rows="4"
            ></textarea>
          </div>

          <label for="category">Categoría</label>
          <div class="col-12 mb-3">
            <select
              id="category"
              class="form-select"
              [(ngModel)]="newQuestion.category.id"
            >
              <option [ngValue]="null" disabled selected>
                Seleccione una categoría
              </option>
              <option *ngFor="let cat of categories" [ngValue]="cat.id">
                {{ cat.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end gap-2 mb-3 px-3">
        <button
          type="button"
          class="btnRed"
          (click)="modal.close('Close click')"
        >
          <span>Cancelar</span>
        </button>
        <button (click)="createQuestion()" type="button" class="btnGreen">
          <span *ngIf="mode === 'create'">Crear</span>
          <span *ngIf="mode === 'edit'">Actualizar</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteEntity let-modal>
  <div deleteEntity class="modal-content modalCustom">
    <div class="modal-content">
      <div class="modal-header modalCustom">
        <span><img src="/logo-blanco.png" alt="" width="125px" /></span>

        <button
          type="button"
          (click)="modal.close('Close click')"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Al confirmar, la pregunta será eliminada.</div>

      <div class="d-flex justify-content-end gap-2 mb-3 px-3">
        <button
          type="button"
          class="btnRed"
          (click)="modal.close('Close click')"
        >
          <span>Cancelar</span>
        </button>
        <button (click)="deleteQuestion(idAux)" type="button" class="btnGreen">
          <span>Confirmar</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
