<app-tabs></app-tabs>
<div class="container mt-5">
  <h1>Seguimiento y Control</h1>

  <div class="d-flex justify-content-between my-3">
    <div class="col-3">
      <input class="form-control" type="text" placeholder="Búsqueda" />
    </div>
    <div>
      <button class="btnGreen" ngbTooltip="Exportar información a Excel">
        Exportar
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table-custom">
      <thead class="">
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Genero</th>
          <th scope="col">Nacimiento</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
