<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="cardCustom mx-5">
    <div class="headerCard mb-4">
      <img src="logo-blanco.png" alt="" width="150px" />
    </div>

    <div class="px-4">
      <h1 class="mb-3">Software MoCA</h1>

      <form (ngSubmit)="onSubmit()">
        <div class="col-12 mb-3">
          <input
            class="form-control"
            placeholder="Correo electrónico"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>

        <div class="col-12 mb-3">
          <input class="form-control" placeholder="Contraseña" type="password" [(ngModel)]="password" name="password" required />
        </div>

        <div *ngIf="errorMessage" class="text-danger mb-2">{{ errorMessage }}</div>

        <button class="btnGreen col-12 mb-4" type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Ingresando...' : 'Entrar' }}
        </button>
      </form>
    </div>
  </div>
</div>
