.tab-button {
  background-color: var(--green);
  color: white;
  font-weight: bold;
  border: 1px solid var(--green);
  padding: 10px 0;
  transition: background-color 0.3s ease;
  border-radius: 0;
}

.tab-button:hover {
  background-color: #00663f;
}

.tab-button:focus {
  outline: none;
  box-shadow: none;
}
