<div class="container-fluid bg-light px-0">
  <div class="row g-2 g-md-0">
    <div class="col-12 col-md text-center">
      <button [routerLink]="['/pruebas']" class="tab-button w-100">Configuración de Pruebas</button>
    </div>
    <div class="col-12 col-md text-center">
      <button [routerLink]="['/seguimiento-control']" class="tab-button w-100">Seguimiento y Control</button>
    </div>
    <div class="col-12 col-md text-center">
      <button class="tab-button w-100">Evaluación</button>
    </div>
  </div>
</div>
