<nav class="navbar navbar-expand-lg  px-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <!-- Botón de logout -->
    <div class="logout-container">
      <button class="btn-logout" (click)="logout()" title="Cerrar sesión">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" 
            aria-controls="navbarTabs" aria-expanded="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor colapsable -->
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarTabs">
      <div class="navbar-nav w-100 d-flex flex-column flex-md-row text-center">
        <button [routerLink]="['/pruebas']" class="tab-button w-100 m-1">Configuración de Pruebas</button>
        <button [routerLink]="['/seguimiento-control']" class="tab-button w-100 m-1">Seguimiento y Control</button>
        <button [routerLink]="['/evaluacion']" class="tab-button w-100 m-1">Evaluación</button>
      </div>
    </div>
  </div>
</nav>
